.item {
	position: relative;
	display: flex;
	align-self: flex-start;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	padding: 0.5em;
}

.name {
	font-size: 1.3rem;
}

.img {
	width: 7em;
	height: 7em;
}

.amount,
.price {
	font-size: 1.4rem;
}

.price {
	font-weight: bold;
}

.delete-item-btn {
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.3s;
}

.delete-item-btn:hover {
	color: gray;
}

.top-box {
	display: flex;
	gap: 1em;
}
