.header {
	position: fixed;
	width: 100%;
	background-color: #212022;
	z-index: 5;
}

.header-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em;
	color: white;
}
