.price {
	position: absolute;
	left: 0.5em;
	bottom: 0;
	padding: 0.2em;
	background-color: white;
	transition: transform 0.2s;
}

.price-hovered {
	transform: translateY(-0.5em);
	transition: transform 0.2s;
}
